html,
body {
  overscroll-behavior: none;
  font-family: system-ui, sans-serif;
  font-variant-numeric: tabular-nums;
  font-variant-emoji: unicode;
  color: #ccc;
  background-image: linear-gradient(#222, #111);
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

code, pre {
  font-family: ui-monospace, monospace;
}

div.errors {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

div.errors > div {
  background-color: #600;
  color: #fff;
  padding: 0.5em;
  border-bottom: 1px solid #000;
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 150%;
  font-weight: normal;
}

h1 a {
  color: #fff;
  text-decoration: none;
}


h2 {
  font-size: 150%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 110%;
}

h2 {
  color: #fff;
  margin: 0 0 1em 0;
}

h3 {
  color: #fff;
  margin: 1em 0 0.5em 0;
}

h4 {
  color: #fff;
  margin: 1em 0 0.5em 0;
}

h5 {
  color: #fff;
  margin: 0.5em 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
  background-color: #000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1em;
}

nav {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.spinner {
  font-size: 150%;
  animation: spin 1s linear infinite;
  display: inline-block;
  color: #888;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer {
  text-align: center;
}

footer {
  margin-top: 2em;
}

a,
button,
.clickable {
  cursor: pointer;
}

nav a,
button,
.live {
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: 1px solid #555;
  color: #fff;
  background-color: #000;
  padding: 0.4em 0.8em;
  margin: 0 0.25em;
  display: inline-block;
  font-size: 0.9rem;
}

nav a {
  outline: none;
  background-color: transparent;
}

nav a:hover {
  background-color: #222;
}

nav a.header-active {
  color: #fff;
  background-color: #333;
}

.live {
  background-color: #080;
  outline-color: #080;
}

button.add {
  outline-color: #080;
}

button.delete {
  outline-color: #800;
}

button:hover {
  background-color: #444;
}


main {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
}

a {
  color: #ff0;
  text-decoration: none;
}

section {
  border-radius: 0.5em;
  background-color: #050505;
  padding: 1.5em;
  margin: 1em 0;
  gap: 1em;
}

input {
  font-family: ui-monospace, monospace;
  width: 10em;
  border: none;
  border-radius: 2pt;
  outline: 1px solid white;
  color: #fff;
  background-color: #000;
  font-size: inherit;
  padding: 1pt;
  margin: 2pt;
}

select {
  font-family: ui-monospace, monospace;
  width: 12em;
  border: none;
  border-radius: 2pt;
  outline: 1px solid white;
  color: #fff;
  background-color: #000;
  font-size: inherit;
  padding: 1pt;
  margin: 2pt;
}

input[type="checkbox"],
input[type="radio"] {
  width: initial;
  outline: none;
}

p,
pre {
  margin: 0.5em 0;
  padding: 0;
}

ul {
  margin: 2pt 0 2pt 1em;
  padding: 0;
}

span.icon {
  margin-right: 0.5em;
}

.breadcrumb {
  margin-bottom: 1em;
  font-size: 0.9rem;
  color: #888;
}

.breadcrumb a {
  color: #888;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #fff;
}

.docs {
  max-width: 60em;
  padding: 0 1em;
  margin: 0 auto;
}

.docs .section {
  background-color: #000;
  margin: 1em 0;
  border-radius: 0.5em;
  padding: 1.5em;
}

.docs h2 {
  margin-left: 0;
  margin-top: 0;
}

.docs h3 {
  margin-left: 1.5rem;
  margin-top: 1.5em;
}

.docs h4 {
  margin-left: 3rem;
  margin-top: 1em;
}

.docs p,
.docs pre {
  margin-left: 5rem;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.docs ul {
  margin-left: 6rem;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.docs ul pre {
  margin-left: 0;
}

.docs li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre {
  white-space: pre-wrap;
}

.inspector {
  margin: 0;
  padding: 0.2em;
  outline: 1px dotted red;
}

.red {
  background-color: #400;
}

/* ProvideKey component styles */
.security-warning {
  background: #000;
  border: 2px solid #ff0;
  padding: 1em;
  margin-top: 1em;
  border-radius: 4px;
}

.security-warning p {
  margin: 0;
  color: #ff0;
}

.account-selector {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  margin: 1em 0;
}

.account-selector label {
  display: block;
  cursor: pointer;
}
